
.all-social {
    background-color: rgba(225, 229, 233, 0.466);
    margin-top: 1%;
    height: 100vh;
    z-index: 999;

}

.container{
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, auto);

}

.container > h1 {
    position: absolute;
    margin-top: 20%;
    margin-left: 15%;
}

.iphone > .smart {
    width: 580px;
    margin-left: 30%;
}

.iphone{
    z-index: 2;
}

.iphone > .social-media{
    margin-top: -70%;
    margin-left: 59%;
    scroll-padding: 1px;
}


.link{
    padding: 15%;

    margin-top: 3%;
    margin-right: 0.5%;
}

